footer{
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
    padding: 60px;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
}