/*
dashboard.html
browse-tasks.html
*/



main{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 10, 68);    /*   background-color: rgb(128, 13, 141);  */
    align-items: center;
    padding: 20px;
    min-height: 70vh;
    height: auto;
}

.container{
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-self: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;   
    width: 80%;
}

h2{
    padding-bottom: 10px;
}

#stats{
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.stats-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 5vh;
}
.stat-card{
    background-color: white;
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 10px;
}


@media (max-width: 500px) {

    main{
        height: auto;
    }

    .container{
        width: 90%;
    }

    .stats-grid {
        gap: 2vh;
        flex-direction: column;
        width: 90%;
    }

    .stat-card {
        gap: 2vh;
        width: 100%;
    }

    .form-group input{
        width: 80vh;
        padding: 10px;
    }
    
    .btn-primary{
    padding: 10px;
    width: 100%;
    }
    .btn-danger{
    padding: 10px;
    width: 100%;
    }
    #action-buttons{
        min-width: 90%;
    }


    #message-input{
        margin-bottom: 5px;
        min-width: 90%;
    }
    #send-message-btn{
        min-width: 96%;
    }
    

}


#my-tasks{
    margin-top: 10px;   
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


/*
.task-ca    rd{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ff3232;  
    border-radius: 10px;
}
*/

.task-card{
    border: 1px solid #939393;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.task-card:hover {
    cursor: pointer;
    padding: 10px;
    display: block;
    text-decoration: none;
    position: relative;
   
    scale: 1.02;
    transition: 0.5s ease-in-out;
}

.task-card a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative;
}

.task-card::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: rgb(0, 0, 0);
	transform: scaleX(0);
	transition: transform 0.5s ease;
}
.task-card:hover::before {
	transform: scaleX(1);
}



/*
.task-card:hover{
    scale: 1.02;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.class-task{
    border: 1px solid #000000;
}
*/
.empty-state{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;  
    border-radius: 10px;
}



/* 
task-details.html
*/
#task-container{
    border: 1px solid black;
}

h3{
    margin-bottom: 10px;
}
.btn-danger {
    border-radius: 5px;
    padding: 10px;
}
.btn-danger:hover {
    scale: 1.07;
    transition: .3s ease-in-out;
    background-color: rgb(205, 205, 205);
}


.actions-wrapper {
    display: flex;
    gap: 10px;
}
.actions-wrapper button {
    padding: 10px 20px;
    font-size: 16px;
}


#action-buttons{
    padding: 10px;
    width: 20%;
}

#chat-container{
    border: 1px solid black;
}

.chat-container{
      border: 1px solid black;
      padding: 10px;
}

#message-input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;

    width: 75%;
    margin-right: 20px;
}

#send-message-btn{
    left: 0%;
    width: 20%;
}

.btn-secondary {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background: rgb(233, 233, 233);
}
.btn-secondary:hover {
    scale: 1.05;
    transition: .3s ease-in-out;
    background-color: rgb(205, 205, 205);
}

#mark-as-complete-id{

    width: 100%;
    border: 1px solid;
    background: rgb(233, 233, 233);
}

#cancel-task-id{
    border: 1px solid;
    background: rgb(233, 233, 233);
}













/* 
post-task.html 
*/
#map{
    height: 300px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}


#task-form{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    border: 1px solid;
    margin-top: 20px;
    font-size: 14px;
}

.form-group{
   
    padding: 10px;
    margin-bottom: 10px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, textarea{
    border: 1px solid; 
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}   

#error-message{
    padding: 10px;
    background-color: rgb(255, 78, 78);
    color: black;
    display: none;
    border-radius: 4px;
    font-weight: 600;
}

#error-message.active   {
    display: block;
}

.error-shake{
    animation: shake 0.3s;
}
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-6px); }
    40% { transform: translateX(6px); }
    60% { transform: translateX(-6px); }
    80% { transform: translateX(6px); }
    100% { transform: translateX(0); }
}



.post-task-buttons-container{
    display: flex;
    gap: 10px;
    padding: 10px;
}

/* Reset spans */ 
.post-task-buttons {
    display: inline-block;
}



/* Base button style */ 
.btn {
    display: inline-block;
    padding: 10px 14px;
    color: black;
    background: rgb(233, 233, 233);
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.btn-primary {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background: rgb(233, 233, 233);
}
.btn-outline {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid black;
    background: rgb(233, 233, 233);
}
.btn-primary:hover {
    scale: 1.05;
    transition: .3s ease-in-out;
    background-color: rgb(205, 205, 205);
}

.btn-outline:hover {
    scale: 1.07;
    transition: .3s ease-in-out;
    background-color: rgb(205, 205, 205);
}




/* Animated underline */ /*
.btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.btn:hover::before {
    transform: scaleX(1);
}

*/










/* 
admin-dashboard.html
*/

.stat-card{
    justify-items: center;
}

#users-container {
 
    width: 90%;    
    overflow-x: auto;
}

#users-container table {
    min-width: 700px; /* prevents squishing on mobile */
    border-collapse: collapse;
}

#tasks-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px; /* space between cards */
}
#admin-view-task-btn{
    border: 1px;
    background: rgb(233, 233, 233);
}
#admin-view-task-btn:hover{

    border: 1px solid;
    background-color: rgb(205, 205, 205);
}

#admin-delete-task-btn{
    width: 50%;
}

#admin-tasks-buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#admin-tasks-buttons a{
    text-align: center;
    background: rgb(233, 233, 233);
    border: 2px solid black;
}





/*
* { background: url("../images/yoru.png") center/cover no-repeat fixed ;}